.row {
    height: 100px;
    display: flex;
    align-items: center;
}
.row > div {
    height: 50px;
    background-color: teal;
    color: white;
    padding: 10px;
    justify-content: space-between;
    margin: 10px;
    display: flex;
    align-items: center;
}
.col {
    flex: 1;
}
.col-2 {
    flex: 2;
}
.col-3 {
    flex: 3;
}