div {
    margin: 10px 0px;
}
#search {
    color: rgb(0, 195, 169);
    background-color: rgb(241, 238, 228);
    font-family: sans-serif;
    font-weight: bold;
    border: 2px solid rgb(0, 195, 169);
    border-radius: 50px;
    padding: 2px 40px;
}
#plus {
    height: 25px; width: 25px;
    color: white;
    background-color: rgb(0, 195, 169);
    font-family: sans-serif;
    border: 0px solid rgb(0, 195, 169);
    border-radius: 100%;
}
#createAccount {
    color: white;
    background-color: blue;
    font-family: sans-serif;
    border: 2px solid black;
    padding: 2px 20px;
    box-shadow: 3px 3px 1px black;
}