h1 {
    background-color: black;
    color: white;
    font-family: cursive;
}
#cloud {
    color: turquoise;
}
h2 {
    background-color: rebeccapurple;
    color: white;
    font-style: italic;
    text-align: center;
    font-family: sans-serif;
}
h3 {
    background-color: lightblue;
    font-family: cursive;
    text-align: right;
}